<%- include header %>
  <div class="arc-right">
    <form method="post" id="form_login" action="">
      <ul class="form_ul">
        <li><label>用户名:</label><input name="username" id="username" type="text"></li>
        <li><label>密码:</label><input name="pwd" id="pwd" type="password" ></li>
      </ul>
      <input type="submit" value="登陆" id="submit">
    </form>
  </div>
<%- include footer %>
